{% extends "base.html" %}


{% block body %}

		<h1> This is an third row, oh yeah 	</h1>

		<!-- Projects Row -->
		<div class="row">
				<div class="col-md-4 portfolio-item">

						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x600" alt="">
						</a>

						<h3 class="text-center">
								<a href="#">Red White Tribute</a>
						</h3>

						<ul class="list-group">
							<li class="list-group-item"> <strong>Brand</strong> Kendama USA </li>
							<li class="list-group-item"> <strong>Link to buy</strong> http://shop.kendamausa.com/collections/tribute-kendamas/products/half-split-red-top-half-and-white-silk-matte </li>
							<li class="list-group-item"> <strong>Description</strong> This was the first kendama I purchased </li>
						</ul>		
						
				</div>

				<div class="col-md-4 portfolio-item">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x600" alt="">
						</a>
						<h3>
								<a href="#">Project Name</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
				<div class="col-md-4 portfolio-item">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x600" alt="">
						</a>
						<h3>
								<a href="#">Project Name</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
		</div>
		<!-- /.row -->


{% endblock %}
