{% extends "base.html" %}


{% block body %}

		<h1> This is an third row, oh yeah 	</h1>

		<!-- Projects Row -->
		<div class="row">
				<div class="col-md-4 portfolio-item">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x600" alt="">
						</a>
						<h3>
								<a href="#">Project Name</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
				<div class="col-md-4 portfolio-item">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x600" alt="">
						</a>
						<h3>
								<a href="#">Project Name</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
				<div class="col-md-4 portfolio-item">
						<a href="#">
								<img class="img-responsive" src="http://placehold.it/700x600" alt="">
						</a>
						<h3>
								<a href="#">Project Name</a>
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				</div>
		</div>
		<!-- /.row -->


{% endblock %}
